.google-drive-button {
  background-color: #ffffff; 
  border: 2px solid #cccccc;
  border-radius: 20px; 
  color: #000000;
  padding: 20px 30px;
  font-size: 20px;
  text-transform: uppercase;
  width: 90%; 
  max-width: auto; 
  min-width: 150px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin: 0; 
  cursor: pointer;
  outline: none; 
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  line-height: 1;
}

.google-drive-button span {
  text-align: center; 
}

.google-drive-button:hover {
  background-color: #7878f7;
  color: #ffffff;
  border-color: #cccccc;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 50%; 
}

#folderNameInput {
  text-align: center; 
  min-width: 200px;
  margin-bottom: 10px;
}

label {
  margin-bottom: 10px;
  font-size: 30px; 
}

table {
  border-collapse: collapse; 
  border-spacing: 0; 
  width: 80%;
  margin-left: auto; 
  margin-right: auto; 
}

.custom-file-input {
  cursor: pointer;
  padding: 20px 30px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  font-weight: bold;
  font-size: 30px;
  font-family: Arial, sans-serif;
  display: inline-block; 
  border-radius: 50px; 
}

.custom-file-input:hover {
  background-color: #7878f7;
  color: #ffffff;
}