<table>
    <tr>
      <td style="text-align: left;">
        <div class="centered-container">
            <label for="fileInput" class="custom-file-input google-drive-button">
                <i class="fa-solid fa-cloud-arrow-up"></i>   Upload file
            </label>
            <input id="fileInput" type="file" (change)="onFileSelected($event)" style="display: none;">
        </div>
      </td>
      <td style="text-align: right;">
        <div class="centered-container">
            <button (click)="openCreateFolderDialog()" class="custom-file-input google-drive-button">
              <i class="fa-solid fa-folder-plus"></i> New folder
            </button> 
        </div>
      </td>
    </tr>
  </table>
  